<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://openiptv.90s.agency"
        version="1.0.0"
        viewmodes="maximized">

    <name>OpenIPTV</name>
    <description>Reproductor IPTV premium para Samsung Smart TV con control remoto móvil</description>

    <author href="https://github.com/EasternSam">EasternSam</author>

    <!-- App icon -->
    <icon src="icon.png"/>

    <!-- Content: points to your hosted server -->
    <content src="https://iptv.90s.agency/"/>

    <!-- Tizen App metadata -->
    <tizen:application id="openiptv.app" package="openiptv" required_version="2.3"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>

    <!-- Privileges needed -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>

    <!-- Access: allow connection to any domain (for IPTV streams) -->
    <access origin="*" subdomains="true"/>

    <!-- Content Security Policy: allow everything for IPTV streams -->
    <tizen:content-security-policy>
        default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: blob:;
        media-src * blob:;
        img-src * data: blob:;
        connect-src *;
        frame-src *;
        script-src * 'unsafe-inline' 'unsafe-eval';
        style-src * 'unsafe-inline';
    </tizen:content-security-policy>

</widget>
